!!!

%form{action: "/signup", method: "POST"}
  %label{for: 'fname'} First name
  %input{type: "text", name: "[user]first_name"}
  %label{for: 'lname'} Last name
  %input{type: "text", name: "[user]last_name"}
  %label {for: 'email'} Email
  %input{type: "text", name: "[user]email"}
  %label {for: 'password'} Password
  %input{type: "password", name: "[user]password"}
  %input{type: "submit", value: "submit"}

//should be the name of the columns in table