!!!

%form{action: "/signup", method: "POST"}
  %label First name
  %input{type: "text", name: "[user]first_name"}
 //I just made this up. Would I just search online for haml code in forms?
  %label Last name
  %input{type: "text", name: "[user]last_name"}
  %label Email
  %input{type: "text", name: "[user]email"}
  %label Password
  %input{type: "password", name: "[user]password"}
  %input{type: "submit", value: "submit"}

